<ul>
  {% for p in pages.children.visible %}
    {% set selected = (p.active or p.activeChild) ? 'selected' : '' %}
    <li class="{{ selected }}">
      <a href="{{ p.url }}">{{ p.menu }} </a>
    </li>
  {% endfor %}
</ul>

{% for p in pages.children.visible if p.activeChild %}
  <ul class="navigation--main__subnav selected">
    {% if p.children.count() > 0 %}
      {% for child in p.children %}
        {% set selected = child.active ? 'selected' : '' %}
        <li class="{{ selected }}">
          <a href="{{ child.url }}">{{ child.menu }} </a>
        </li>
      {% endfor %}
    {% endif %}
  </ul>
{% endfor %}
